.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-menu {
    flex: 0 0 200px; /* fixed width for the sidebar */
    background-color: #f2f2f2;
    height: 100%;
    padding-top: 20px;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
}

.main-menu li {
    padding: 20px;
    margin-bottom: 24px;
    background-color: #ddd;
    border: solid 1px #ccc;
}